.hilite1 {
  color: #000000;
  background-color: #FFFF00;
}

.hilite2 {
  color: #000000;
  background-color: #00FF00;
}

.hilite3 {
  color: #000000;
  background-color: #FF9900;
}

.hilite4 {
  color: #000000;
  background-color: #00ffcc;
}

.hilite5 {
  color: #000000;
  background-color: #00cccc;
}

.hilite6 {
  color: #000000;
  background-color: #0099cc;
}

// highlights

html[data-highlight-state="off"] .hilite1,
html[data-highlight-state="off"] .hilite2,
html[data-highlight-state="off"] .hilite3,
html[data-highlight-state="off"] .hilite4,
html[data-highlight-state="off"] .hilite5,
html[data-highlight-state="off"] .hilite6,  {
  background-color: transparent;
}
