.viewer--viewer-advisory {
  display: none;
}

.viewer--viewer-advisory[data-viewer-advisory="true"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  .viewer-advisory-message {
    padding: 1rem;
    background: black;
    color: #eee;
    position: sticky;
    top: 1rem;
    max-width: 75%;
  }
}

.viewer-advisory-message {
  background: black;
  color: #eee;
  padding: 1rem;
}

dl.record {

  dd.viewer-advisory-message {
    display: none;
  }

  div[data-viewer-advisory="true"] {
    position: relative;
    dd {
      display: none;
    }
    dd.viewer-advisory-message {
      display: list-item;
    }
  }

} 
