.fieldset--clause--select label[data-active="false"] {
  display: none;;
}

.fieldset--clause--select select[data-active="false"] {
  display: none;
}

fieldset.fieldset--grid {
  display: grid;
  /* grid-template-columns: repeat(2, minmax(20%, auto)) 35% 4.5rem; */
  grid-template-columns: 1fr 1fr 4.5rem;
  grid-template-areas:
    "region select ."
    "q q clear";
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.fieldset--clause--query {
  grid-area: q;
}

.fieldset--clause--select {
  grid-area: select;
}

.fieldset--clause--select select, .fieldset--clause--region select {
  width: 100%;
}

.fieldset--clause--region {
  grid-area: region;
}

button[data-action="reset-clause"] {
  grid-area: clear;
}

.fieldset--clause--query input[type="search"] {
  width: 100%;
}

.fieldset--clause--operator label {
  text-transform: uppercase;
}