.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.pagination__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination__form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination__input {
  padding: 0.5rem;
  max-width: 8ch;
}

.gap-sm {
  gap: 8px;
}

.filter__link {
  text-decoration: none;
  justify-content: space-between;
  margin-bottom: var(--space-x-small);
}

.filter__link:hover span.value {
  text-decoration: underline;
}

.filter__button {
  background: #fff;
  font-size: 0.875rem;
  padding: var(--space-x-small);
  color: var(--color-neutral-500);
  font-weight: normal;
}


span.count {
  color: #000;
}