
select option {
  font-weight: normal; /* weird firefox issue */
}

.separator::after {
  font-family: var(--material);
  content: "\e315";
  vertical-align: bottom;
  color: var(--color-neutral-200);  
}