/*
 * Resets
 *
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*
 * Globals 
 *
 *
 */

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

svg {
  vertical-align: middle;
}

.font-base-family {
  font-family: var(--font-base-family);
}

/*
* Blocks
*
*
*/

.breadcrumb {
  display: flex;
  justify-content: space-between;
}

.breadcrumb li {
  display: inline;
  padding: var(--space-xx-small);
}

.sidebar {
  display: flex;
  justify-content: space-between;
}

/*
 * Utilities
 *
 * 
 */

.border {
  border: solid 2px var(--color-neutral-100);
}

.border-bottom {
  border-bottom: solid 2px var(--color-neutral-100);
}

.color-neutral-300 {
  color: var(--color-neutral-300);
}

.bold {
  font-weight: var(--bold);
}

.mb1 {
  margin-bottom: 1em;
}

.block {
  display: block;
}

/*
 * Variables
 *
 * All the CSS values that can be changed based
 * on developer configuration or via media query.
 */

:root {
  --viewport-margin: var(--space-medium);
  --card-min-width: 320px;
}

@media (min-width: 720px) {
  :root {
    --viewport-margin: var(--space-xx-large);
  }
}

/*
 * Anchors/Links
 *
 * How about we just make links all have an underline?
 * I mean, if you're going to use a link and not
 * underline it, you better know your context and
 * have a good reason to do so.
 */

a {
  color: var(--color-teal-400);
  text-decoration: underline;
}

a:hover {
  text-decoration-thickness: 2px;
}

.active-link {
  text-decoration: none;
  color: var(--color-neutral-400);
}

/*
 * Headings
 *
 * The most used headings I imagine
 * are a page title (h1) and section
 * headings (h2) plus the subtle heading
 * that that typography is in the
 * universal header. 
 *
 */

h1,
.page-heading {
  font-size: var(--text-xx-large);
  font-family: var(--font-second-family);
  line-height: var(--line-height-page-heading);
}

h2,
.section-heading {
  font-size: var(--text-large);
  font-weight: var(--bold);
}

h3,
.subtle-heading {
  color: var(--color-neutral-300);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  padding-top: var(--space-large);
}

.collection-heading {
  color: var(--color-neutral-400);
  line-height: 1.1;
  font-weight: var(--bold);
  font-size: 20px;
  font-family: var(--font-base-family);
  padding-top: var(--space-large);
}

/*
 * Viewport Margins
 *
 * Handles the need for page content to be centered
 * in the visible view port window and manage the
 * amount of margin between the site and the edge
 * of the screen's viewport.
 */

.viewport-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--viewport-margin);
  padding-right: var(--viewport-margin);
}

/*
 * Buttons
 * We need some buttons. 
 */

.button {
  outline: none;
  display: inline-block;
  padding: var(--space-small) var(--space-large);
  background: var(--color-blue-100);
  color: var(--color-teal-400);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);
}

.button--loud {
  background: var(--color-teal-400);
  color: white;
}

/*
 * Record Container
 *
 */

.record {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 0;
  width: 50vw;
}

.record dt {
  font-weight: var(--bold);
}

.record dt,
.record dd {
  border-bottom: 1px solid var(--color-neutral-100);
  padding: var(--space-small) 0;
  margin-left: 0;
}

/*
 * Action Panel
 *
 */

.action-panel {
  border: 1px solid var(--color-neutral-100);
  padding: var(--space-x-large);
  width: 20vw;
}

.record-container {
  width: 50vw;
}
