/*
 * Custom Properties
 *
 */

:root {
  --base-text-color: var(--color-neutral-400);
  --light-text-color: var(--color-neutral-300);
  --viewport-margin: var(--space-medium);
  --material: "Material Icons";
}

@media (min-width: 720px) {
  :root {
    --viewport-margin: var(--space-xx-large);
  }
}

/*
 * Resets
 *
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 * Globals 
 *
 */
body {
  margin: 0;
  color: var(--base-text-color);
  font-size: var(--text-base-size);
  font-family: var(--font-base-family);
  line-height: var(--line-height-default);
}

ol,
ul {
  list-style: none;
  padding: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: var(--color-teal-400);
  text-decoration: underline;
}

a:hover {
  text-decoration-thickness: 2px; /** TODO: HOVE **/
}

:focus {
  /** TODO: FOCUS **/
  box-shadow: 0 0 0 2px var(--color-indigo-400);
}

address {
  font-style: normal;
}

/** Details **/

details > summary {
  list-style: none;
  cursor: pointer;
}

/* is this CUBE? */
details.panel > summary {
  display: flex;
  justify-content: space-between;
}

details[open] {
  padding-bottom: var(--space-x-large);
}

details > summary::after {
  font-family: "Material Icons";
  content: "\e5cf";
  color: var(--color-teal-400);
  vertical-align: sub;
}

details[open] > summary::after {
  font-family: "Material Icons";
  content: "\e5ce";
  color: var(--color-teal-400);
  vertical-align: sub;
}
/* Removes the default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
}

details input[type="checkbox"] {
  flex-shrink: 0;
}

/* Forms, Selects & Inputs */

.select-group {
  padding: 0 1.5em 0;
  color: var(--light-text-color);
}

.select {
  min-width: 12ch;
  padding: 0 1em;
  height: 40px;
}

.dropdown {
  font-size: 1rem;
  font-family: var(--font-base-family);
  color: #262626;
  line-height: 1.5;
  box-shadow: none;
  cursor: pointer;
  max-width: 100%;
}

.dropdown--neutral {
  background-color: var(--color-neutral-100);
}

.input-group {
  padding: 0 1.5em 0 0;
  min-width: 60%;
}

.input-group button {
  border-radius: 0 2px 2px 0;
}

.input-group.right input {
  border-radius: 4px 0 0 4px;
}

input {
  font-size: 1rem;
  font-family: var(--font-base-family);
  margin: 0;
  border: solid 1px var(--color-neutral-200);
  box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  box-sizing: border-box;
  height: 40px;
}

input[type="search"] {
  width: 80%;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
}

/*
* Blocks
*
*/

.hero {
  margin: 1em 0 2em;
}

.hero__image {
  max-width: 100%;
}

/* Text Block/ prose */

.text-block {
  width: max(75%); /* Set line length for readability */
}

/** Breadcrumb **/

.breadcrumb {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .breadcrumb {
    flex-flow: column;
  }
}

.breadcrumb li {
  display: inline;
  padding: var(--space-xx-small);
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.breadcrumb li:not(:last-child):after {
  font-family: var(--material);
  content: "\e315";
  vertical-align: bottom;
  padding-left: 0.25em;
  color: var(--color-teal-500);
}

/** Lists **/

.list__links ul li {
  margin-top: 0.5em;
}

/** Results **/
.search-results__edit {
  background-color: var(--color-blue-100);
  padding: var(--text-small);
  border-radius: var(--radius-default);
}

.search-results__tools {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
}

.results-list--small {
  border-bottom: 1px solid var(--color-neutral-100);
  color: var(--color-neutral-400);
  text-decoration: none;
  margin-bottom: 0.5em;
  display: flex;
  gap: 0.5rem;
}

.results-list--small a {
  text-decoration: none;
  color: var(--color-neutral-400);
}

.results-list--small:last-child {
  border-bottom: 0;
}

.results-list--small input.portfolio-selection {
  order: -1;
  flex-shrink: 0;
}

.results {
  margin-top: 0.25em;
}

.results > div {
  display: grid;
  grid-template-columns: 9rem 1fr;
  column-gap: 0;
  width: 50vw;
  /* border-bottom: 1px solid var(--color-neutral-100); */
}

.results dt {
  font-weight: var(--bold);
}

.results dt,
.results dd {
  padding: var(--space-xxx-small) 0;
  margin-left: 0;
}

.results dd {
  padding-left: var(--space-small);
}

.results dd + dd {
  grid-column: 2/3;
}

.results-list__content > dt {
  text-decoration: none;
}

.results-list__content h4 {
  display: inline;
  font-size: var(--text-small);
  font-weight: var(--semibold);
  color: var(--base-text-color);
  box-shadow: inset 0 -1px #1d7491;
  margin-top: 0.5em;
}

.results-list__content h4:hover {
  box-shadow: inset 0 -2px #1d7491;
  background: var(--color-maize-300);
  transition: background 0.5s;
}

.results-list__image {
  width: 140px;
  height: 120px;
  /* padding: 0 var(--space-medium);
  padding-left: 0; */
  padding: 0;
  margin-right: 1rem;
}

.results-list__blank {
  width: 140px;
  height: 120px;
  /* padding: 0 var(--space-medium);
  padding-left: 0; */
  padding: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.results-list__blank::after {
  font-family: var(--material);
  font-size: var(--text-xxx-large);
  content: "\e871";
  content: "\e0ee";
  color: inherit;
  vertical-align: middle;
  opacity: 0.4;
  line-height: 1;
}

.filters {
  padding-top: var(--space-xxxx-large);
  padding-right: 2em;
}

/* 
*CARD 
* A card can have an image, a heading, and a description. The entire card is a link.
*/

.gallery-view {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 600px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    padding: 0 5em;
  }
}

.card {
  width: calc(25% - 16px);
  margin: 0 0.5em;
}

@media (min-width: 950px) and (max-width: 1100px) {
  .card {
    width: calc(33% - 16px);
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .card {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.card__image {
  padding: 0;
}

.card__heading {
  font-size: var(--text-small);
  font-weight: var(--semibold);
  color: var(--base-text-color);
  margin-top: 0;
  width: max(25ch);
}

/** SIDE PANEL BOX **/

.side-panel__box {
  display: flex;
  flex-flow: column wrap;
  max-width: 80%;
}

.side-panel__box--wrapper {
  padding: 1em;
}

.side-panel__box > details:not(:last-child) {
  border-bottom: solid 1px var(--color-neutral-100);
}

.side-panel__box > *:not(:last-child) {
  border-bottom: solid 1px var(--color-neutral-100);
}

.side-panel__box > details {
  padding: 1em 0;
}

details > div {
  padding: 0.25em;
}

.filters__count {
  color: var(--color-neutral-300);
}

.filters__selected > * + * {
  padding: var(--space-small) 0;
}

/** Pagination **/

@media screen and (max-width: 600px) {
  .pagination__row {
    flex-flow: column;
  }
}

.pagination li {
  display: inline-block;
  margin: 0.5em 0;
}

.pagination__item a {
  border: solid 1px var(--color-teal-400);
  border-radius: 4px;
  color: var(--color-teal-400);
  padding: 0.5em 1em;
  margin: 0.25em;
  text-decoration: none;
}

.pagination__item a:hover {
  background: var(--color-teal-500);
  color: white;
}

a[class*="previous"]::before {
  font-family: var(--material);
  content: "\e408";
  color: inherit;
  vertical-align: middle;
}

a[class*="next"]::after {
  font-family: var(--material);
  content: "\e409";
  color: inherit;
  vertical-align: middle;
}

#results-pagination {
  width: 8ch;
}

/*
 * Utilities
 *
 * 
 */

.border {
  border: solid 2px var(--color-neutral-100);
}

.no-border {
  border: 0;
}

.border-bottom {
  border-bottom: solid 1px var(--color-neutral-100);
}

.underline {
  text-decoration: underline;
}

.light-text-color {
  color: var(--light-text-color);
}

.base-text-color {
  color: var(--base-text-color);
}

.bold {
  font-weight: var(--bold);
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-end {
  align-items: flex-end;
}

.flex-center {
  align-items: center;
}

.flex-flow-rw {
  flex-flow: row wrap;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mt-2 {
  margin-top: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.p-half {
  padding: 0.5em;
}

.gap-0_5 {
  gap: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

/*
 * Anchors/Links
 *
 */

.active-link {
  text-decoration: none;
  color: var(--color-neutral-400);
}

.link-box {
  background-color: var(--color-teal-100);
  padding: 1.5em;
  margin: 1em 0;
  display: inline-flex;
  color: var(--base-text-color);
}

.link-box > * {
  margin: 0 0.25em;
}

/*
 * Headings
 *
 * The most used headings I imagine
 * are a page title (h1) and section
 * headings (h2) plus the subtle heading
 * that that typography is in the
 * universal header. 
 *
 */

h1,
.page-heading {
  font-size: var(--text-xx-large);
  font-family: var(--font-second-family);
  line-height: var(--line-height-page-heading);
  padding-top: 0;
  margin-top: 0;
}

h2,
.section-heading {
  font-size: var(--text-large);
  font-weight: var(--bold);
  padding-top: 0;
  margin-top: 0;
}

h3,
.subtle-heading {
  color: var(--color-neutral-300);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  padding-top: var(--space-medium);
  margin-top: 0;
}

.collection-heading {
  color: var(--color-neutral-400);
  line-height: 1.1;
  font-weight: var(--bold);
  font-size: 32px;
  font-family: var(--font-base-family);
}

.collection-heading--small {
  font-size: 20px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  color: var(--color-neutral-400);
  line-height: 1.1;
}

/*
 * Viewport Margins
 *
 * Handles the need for page content to be centered
 * in the visible view port window and manage the
 * amount of margin between the site and the edge
 * of the screen's viewport.
 */

.viewport-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--viewport-margin);
  padding-right: var(--viewport-margin);
}

/*
 * Buttons
 */

.button,
button {
  outline: none;
  display: inline-block;
  padding: 0 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);
  align-items: center;
  min-height: 2.5rem;
  margin: 0; /** must remove margin for Safari */
}

.button--small {
  padding: var(--space-small);
}

.button--large {
  padding: var(--space-small) var(--space-xxx-large);
}

.button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-indigo-400);
}

.button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-neutral-400);
}

.button--primary {
  background: var(--color-teal-400);
  border: solid 1px var(--color-teal-400);
  color: #fff;
}

.button--secondary {
  background: var(--color-neutral-100);
  border: solid 1px var(--color-neutral-100);
  color: var(--color-neutral-400);
}

.button--cta {
  background: var(--color-maize-400);
  border: solid 1px var(--color-maize-400);
  color: var(--color-neutral-400);
}

.button-icon {
  bottom: 0.25em;
  position: relative;
}

/*
 * Record Container
 *
 */

.record {
  max-width: 65vw;
}

@media screen and (max-width: 600px) {
  .record {
    max-width: 90vw;
  }
}

.record > div {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 0;
  border-bottom: 1px solid var(--color-neutral-100);
}

.record dt {
  font-weight: var(--bold);
}

.record dt,
.record dd {
  padding: var(--space-small) 0;
  margin-left: 0;
}

.record dd {
  /* for longer/wrapping dt */
  padding-left: var(--space-small);
}

.record dd + dd {
  grid-column: 2/3;
}

/*
* Actions
*
*/

.actions {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--color-neutral-100);
}

/*
 * Layouts 
 *
 */

.side-panel {
  width: 25%;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .side-panel {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .side-panel {
    width: 100%;
  }
}

.main-panel {
  width: 70%;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .main-panel {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .main-panel {
    width: 100%;
  }
}

/*
* Media
*
*/

/* This is the most extreme application so we many want to adjust it */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/*
 * Preview
 */
html[data-preview-links="true"] a:not([data-available="true"]) {
  opacity: 0.25;
}

html[data-preview-links="true"] a.toc-link {
  opacity: 1;
}

/*
 * Jitter
 */

m-universal-header:not(.hydrated) {
  display: block;
  height: 3.59rem;
}

m-website-header:not(.hydrated) {
  height: 4.125rem;
  display: block;
}

m-website-header:not(.hydrated) nav {
  display: none;
}

/*
* Footer
*
*/

.footer {
  background: var(--color-blue-400);
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul a {
  display: inline-block;
  padding: var(--space-x-small) 0;
  text-decoration: none;
  text-decoration-thickness: 0px;
}

.footer ul a span:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.footer a {
  color: white;
}

.footer a > svg {
  margin-right: 0.5em;
}

.footer__content {
  color: var(--color-blue-100);
  padding: var(--space-xxx-large) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: var(--space-xx-large);
}

.footer__content h2 {
  color: var(--color-blue-200);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: var(--space-medium);
}
.footer__policies {
  border-left: solid 1px var(--color-blue-300);
  padding-left: 2em;
}

@media screen and (max-width: 1200px) {
  .footer__policies {
    border-left: none;
    padding-left: 0;
  }
}

.footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: var(--space-medium) 0;
}
.footer__disclaimer a {
  color: var(--color-blue-200);
}
.footer__disclaimer p {
  margin: 0;
}
@media screen and (min-width: 820px) {
  .footer__disclaimer p {
    display: inline-block;
  }
  .footer__disclaimer p + p {
    margin-left: var(--space-x-large);
  }
}
