#viewer-heading {
  scroll-margin-top: 2.5rem;
}

#action-page-index {
  display: none;;
}

a[aria-current="page"] {
  color: black;
  text-decoration: none;;
}

.viewer {
  width: 98vw;
  height: 85vh;
  position: relative;
  border: 0;
  display: block;
  margin-left: -49vw;
  margin-right: -49vw;
  margin-bottom: 1rem;
  left: 50%;
  right: 50%;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toolbar button {
  white-space: nowrap;
}

.button.small {
  font-size: 0.875rem;
  line-height: 1;
  padding: var(--space-x-small) var(--space-x-small);
}

button .material-icons {
  vertical-align: middle;
  margin-left: 0.25rem;
  font-size: 1rem;
}

/* .button {
  border-color: var(--color-neutral-100);
} */

sl-button::part(base) {
  outline: none;
  height: auto;
  min-height: 2.5rem;
  margin: 0; /** must remove margin for Safari */
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  border: 2px outset var(--color-neutral-100);
  border-radius: var(--radius-default);
  padding: var(--space-small) var(--space-xxx-large);
  background: var(--color-teal-400);
  border: solid 1px var(--color-teal-400);
  color: #fff;
}

/* :not(.button--disabled) */
sl-button::part(base):focus, sl-button::part(base):hover {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--color-neutral-400);
}

sl-button::part(label) {
  padding-right: 0 0.25rem;
}

sl-button::part(caret) {
  margin-top: 4px;
}

sl-menu-item::part(base):hover {
  background: var(--color-teal-500);
}

ul.outline li ul {
  margin:0 1.5em;
}
ul.outline {
  margin:0 1.5em 1.5em 1.5em;
}

.actions {
  margin-bottom: 1rem;
}

/* .actions--toolbar-wrap {
  container-type: inline-size;
  container-name: actions--toolbar-wrap;
} */

sl-button[slot="trigger"] {
  width: 100%;
  background: orange;
}

/* @container actions--toolbar-wrap (max-width: 660px) {
  .toolbar {
    flex-direction: column; 
  }

  sl-dropdown {
    width: 90%;
  }

  button {
    width: 90%;
  }
} */

.text-black {
  color: #000;
}

/*
 * Utilities
 *
 * 
 */

/*
 * TocBot
 *
 * 
 */
.toc {
 overflow-y:auto
}
.toc>.toc-list {
 overflow:hidden;
 position:relative;
 padding-left: 1.5rem;
}
.toc>.toc-list li {
 list-style:none
}
.toc-list {
 margin:0;
 padding-left:10px
}
a.toc-link {
 color:currentColor;
 height:100%
}
.is-collapsible {
 max-height:1000px;
 overflow:hidden;
 transition:all 300ms ease-in-out
}
.is-collapsed {
 max-height:0
}
.is-position-fixed {
 position:fixed !important;
 top:0
}
.is-active-link {
 font-weight:700
}
.toc-link::before {
 background-color:#EEE;
 content:' ';
 display:inline-block;
 height:inherit;
 left:0;
 margin-top:-1px;
 position:absolute;
 width:3px;
 height: 100%;
 display: block;
}
.is-active-link::before {
 background-color: var(--color-teal-400);
}

/* TOCBOT EXCEPTIONS */

.aside {
  margin: 1rem;
  order: 2;
  flex-shrink: 0;
  width: 13rem;
}

.aside--wrap {
  container-type: inline-size;
  container-name: aside--wrap;
}

@container aside--wrap ( max-width: 920px ) {

  .aside {
    order: 0;
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0rem;
    z-index: 1000;
    filter: drop-shadow(10px 10px 4px #ddd);
    margin: 0 auto;
  }

  .main-panel {
    width: 90%;
  }

  .main-panel h2, .main-panel h3 {
    scroll-margin-top: 4rem;
  }

  nav.page-index {
    position: static;
    display: flex;
    gap: 0.5rem;
    width: 80%;
    align-items: center;
    margin: 0.5rem auto;
  }

  nav.page-index h2 {
    padding: 0;
  }

  nav.page-index .toc {
    display: none;
  }

  nav.page-index #action-page-index {
    display: block;
    flex-grow: 1;
  }
}

@container aside--wrap (max-width: 670px ) {
  .toolbar {
    flex-direction: column; 
  }

  sl-dropdown {
    width: 90%;
  }

  button {
    width: 90%;
  }
}

nav.page-index {
  position: sticky;
  top: 1rem;
  margin-left: 1rem;
}
  

/* .js-toc > .toc-list {
  position: sticky;
  top: 1rem;
} */

a.toc-link {
  text-decoration: none;
}

a.is-active-link {
  text-decoration: underline;
}

.container {
  position: relative;
}

dl.record input[type="text"] {
  padding: 0.5rem;
  width: 100%;
  max-width: 65ch;
}