.advanced-search--form {
  padding: 1rem 5.5vw;
}

.advanced-search--containers {
  padding: 0;
}

.field-groups {
  padding: 1rem 4.5vw;
}

.parenthetical-expression::before, 
.parenthetical-expression::after {
  margin-top: -1rem;
  font-size: 4rem;
  color: var(--color-neutral-300);
}

.parenthetical-expression::before {
  content: "(";
}

.parenthetical-expression::after {
  content: ")";
}

.ww-terms {
  width: 100%;
  vertical-align: top;
  border-color: var(--color-neutral-100);
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  font-weight: bold;
  text-align: left;
}

.table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

.fieldset--clause--query .proximity-clause [data-slot="query"] {
  width: auto;
  flex-grow: 1;
}