.horizontal-navigation-container{
    display:flex;
    flex-direction:column
}
.horizontal-navigation-container .horizontal-navigation-list{
    background:var(--color-blue-100);
    border-bottom:solid 1px var(--color-neutral-100);
    list-style:none;
    margin:0 -1rem
}
@media(min-width: 1001px){
    .horizontal-navigation-container .horizontal-navigation-list{
        background-color:rgba(0,0,0,0);
        margin:0
    }
}
.horizontal-navigation-container .horizontal-navigation-list li{
    border-top:solid 1px var(--color-neutral-100);
    margin-bottom:0
}
@media(min-width: 1001px){
    .horizontal-navigation-container .horizontal-navigation-list li{
        border-top:0;
        display:inline-block
    }
    .horizontal-navigation-container .horizontal-navigation-list li+li{
        padding-left:1rem
    }
}
@media(min-width: 1280px){
    .horizontal-navigation-container .horizontal-navigation-list li+li{
        padding-left:1.5rem
    }
}
.horizontal-navigation-container .horizontal-navigation-list a{
    color:var(--color-neutral-400);
    display:block;
    font-weight:600;
    margin-bottom:-1px;
    padding:1rem;
    text-decoration:none
}
@media(min-width: 1001px){
    .horizontal-navigation-container .horizontal-navigation-list a{
        padding:1rem 0
    }
}
.horizontal-navigation-container .horizontal-navigation-list a:hover{
    text-decoration:underline;
    text-decoration-thickness:.125rem
}
.horizontal-navigation-container .horizontal-navigation-list a[aria-current=page]{
    color:var(--color-teal-400);
    font-weight:800;
    position:relative
}
.horizontal-navigation-container .horizontal-navigation-list a[aria-current=page]::before{
    background-color:var(--color-teal-400);
    content:"";
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:.25rem
}
@media(min-width: 1001px){
    .horizontal-navigation-container .horizontal-navigation-list a[aria-current=page]::before{
        bottom:0;
        height:.25rem;
        top:auto;
        width:100%
    }
}