p.plaintext {
 white-space: pre-line; 
}

.fullview-page + .fullview-page {
  padding-top: 2rem;
  border-top: 2px solid var(--color-neutral-100);
}

.inline-highlight {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  scroll-padding-top: 2rem;
}

html[data-highlight-state="off"] .inline-highlight a {
  display: none;
}

.hl-link {
  display: inline-flex;
  align-items: center;
}

.hl-link .material-icons {
  font-size: 1rem;
}

.button--highlight {
  padding: var(--space-xxx-small);
  min-height: 0;
}

.hilite1 {
  background-color: #ffff00;
}

html[data-highlight-state="off"] .hilite1 {
  background-color: transparent;
}

html {
  scroll-padding-top: 2rem;
}