
.side-panel {
  width: 25%;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .flex.flex-gap-1 {
    gap: 0.5;
  }

  .side-panel {
    /* width: 15%; */
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 751px) {
  .side-panel {
    width: 100%;
  }
}

.main-panel {
  width: 70%;
  /* min-height: 60vh; */
}

.main-panel.full {
  width: 100%;
}

@media screen and (max-width: 751px) {
  .main-panel {
    width: 100%;
  }
}

/*
 * Feedback Callout
 */

.feedback-callout {
  background: var(--color-indigo-100);
}

button[data-action="toggle-side-panel"] {
  display: none;
}

@media screen and (max-width: 751px) {

  button[data-action="toggle-side-panel"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  button[data-action="toggle-side-panel"]::after {
    font-family: "Material Icons";
    font-size: 24px;
    color: var(--color-teal-400);
  }

  button[data-action="toggle-side-panel"][aria-expanded="false"]::after {
    content: "\e5cf";
  }

  button[data-action="toggle-side-panel"][aria-expanded="true"]::after {
    content: "\e5ce";
  }

  button[data-action="toggle-side-panel"][aria-expanded="false"] ~ * {
    display: none;
  }

}