/** Pagination **/

@media screen and (max-width: 600px) {
  .pagination__row {
    flex-flow: column;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination li {
  display: inline-block;
  margin: 0;
  // margin: 0; 0.5em 0;
}

.pagination__item a, .pagination__item button {
  background-color: #fff;
  border: solid 1px var(--color-teal-400);
  border-radius: 4px;
  color: var(--color-teal-400);
  // padding: 0.5em 1em;
  // margin: 0.25em;
  padding: 0.4em 1em;
  margin: 0;
  text-decoration: none;
  min-height: auto;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.pagination__item a:hover, .pagination__item button:not([disabled]):hover {
  background: var(--color-teal-500);
  color: white;

  svg {
    fill: white;
  }
}

.pagination__item a[disabled], .pagination__item button[disabled] {
  opacity: 0.75;
  // pointer-events: none;
  cursor: not-allowed;
  color: var(--color-neutral-200);
  border: solid 1px var(--color-neutral-200);
  svg {
    fill: var(--color-neutral-200);
  }
}

.pagination__item a[disabled]:hover {
}

[class*="previous"]::before {
  font-family: var(--material);
  content: "\e408";
  color: inherit;
  vertical-align: middle;
}

[class*="next"]::after {
  font-family: var(--material);
  content: "\e409";
  color: inherit;
  vertical-align: middle;
}

#results-pagination {
  width: 8ch;
}

.sticky-bottom {
  position: sticky;
  padding-bottom: 1rem;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px -0.5rem 0.5rem -0.5rem rgba(0,0,0,0.1);
  z-index: 5;
}
