
/* Text Block/ prose */

.text-block {
  /* width: max(75%); */
  max-width: 75ch; /* Set line length for readability */
}

.text-block h2 {
  font-size: 1.25rem;
}

.text-block img {
  // width: auto;
  max-width: 100%;
}

// TODO - this is clunky and either this
// should be refined or the browse.xml should stop
// using staticincl
.text-block > div > ul:not([class]) {
  list-style: initial;
  padding: revert;
}

.text--small {
  font-size: 0.875rem !important;
}

.text--bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.material-symbols-outlined {
  font-variation-settings: "wght" 300, "opsz" 20;
}

.material-symbols-outlined:hover {
  font-variation-settings: "wght" 500, "FILL" 1;
}

.float-right {
  float: right;
  margin: 1rem;
}
  

.float-right img, img.float-right {
  padding: 1rem;
  border: 1px solid var(--color-neutral-100);
}

.float-right figcaption {
  font-size: 0.875rem;
  max-width: 20ch;
}

img.brand {
  border-radius: 0;
}