.advanced-search--form {
  padding: 1rem 5.5vw;
  margin-bottom: 2rem;
}

.advanced-search--containers {
  margin: 0.5rem 0 0.5rem;
  padding: 0;
}

.field-groups {
  // padding: 1rem 4.5vw;
  padding: 1rem 1.5rem;
}

.fieldset.fieldset--grid {
  grid-template-columns: 1fr 1fr;
}

.parenthetical-expression {
    margin-bottom: 1.5rem;
}

.parenthetical-left, 
.parenthetical-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.parenthetical-expression > .parenthetical-left::before, 
.parenthetical-expression > .parenthetical-right::after {
  // margin-top: -1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  color: var(--color-neutral-300);
  line-height: 1;
}

.parenthetical-expression > .parenthetical-left::before {
  content: "(";
}

.parenthetical-expression > .parenthetical-right::after {
  content: ")";
}

@media(max-width: 900px){
  .fieldset--clause--query {
    gap: 0;

    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  .parenthetical-expression {
    flex-wrap: wrap;
    row-gap: 0.5rem;

    [data-slot="query"] {
      width: auto;
    }
  }
}

.ww-terms {
  width: 100%;
  vertical-align: top;
  border-color: var(--color-neutral-100);
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  font-weight: bold;
  text-align: left;
}

.table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

.fieldset--clause--query .proximity-clause [data-slot="query"] {
  width: auto;
  flex-grow: 1;
}