#bookbag-overview .inner p:first-child {
  margin-top: 0;
}

#bookbag-overview .inner p:last-child {
  margin-bottom: 0;
}

#bookbag-overview + .flex {
  @media ( max-width: 320px ) {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    column-gap: 0rem;

    & > * {
      width: 100%;
    }

    button + button {
      margin-left: auto;
    }

  }
}