// body:not([data-show-annotations="true"]) [class*="--expanded"] {
//   display: none;
// }

// ACCOUNT FOR LEVEL
p.plaintext {
 white-space: pre-line; 
}

section[data-item-encoding-level="4"],
article[data-item-encoding-level="4"] {
  p.plaintext {
    white-space: normal;
  }
}

.fullview-page + .fullview-page {
  padding-top: 2rem;
  border-top: 2px solid var(--color-neutral-100);
}

a.ptr-link {
  // border-bottom: 2px solid var(--color-teal-400);
  margin: 0 0.5rem;
  .material-icons {
    vertical-align: text-bottom;
  }
}

.inline-highlight {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  scroll-padding-top: 2rem;
  white-space: wrap;
}

html[data-highlight-state="off"] .inline-highlight a {
  display: none;
}

.hl-link {
  display: inline-flex;
  align-items: center;
}

.hl-link .material-icons {
  font-size: 1rem;
}

.button--highlight {
  padding: var(--space-xxx-small);
  min-height: 0;
}

.hilite1 {
  background-color: #ffff00;
}

.fullview-main {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 1rem;

  line-height: 2;

  & .inner {
    width: 100%;
  }
}

.pre-line {
  white-space: pre-line;
  line-height: 1.75;
}

ul.fullview-toc {
  list-style: initial;
  margin-left: 1rem;
}

.fullview-thumbnail, .fullview-blank {
  flex-basis: 350px;
  flex-shrink: 0;
}

.fullview-thumbnail > a {
  display: block;
}

.fullview-thumbnail figure {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.fullview-thumbnail img {
  border: 1px solid var(--color-neutral-400);
  padding: 0.5rem;
  width: auto;
  max-width: 100%;
}

.fullview-thumbnail a:hover img, 
.fullview-thumbnail a:hover span {
  /* outline: 1px solid var(--color-neutral-300);
  outline-offset: 2px; */
  box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--color-neutral-400); 
}

.fullview-page {
  padding-bottom: 2rem;
}

.fullview-heading {
  font-weight: bold;
  margin: 0.5rem 0;
  line-height: 1.5;
}

.fullview-heading-1 {
  font-size: 1.5rem;
}

.fullview-heading-2 {
  font-size: 1.25rem;
}

.fullview-heading-3 {
  font-size: 1.125rem;
}

.titlepage {
  text-align: center;
}

.footnote-link {
  display: inline-flex;
  min-height: 2rem;
  min-width: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  margin: 0 0.25rem;
  line-height: 0;
  border: 1px solid var(--color-neutral-500);
  vertical-align: bottom;
  text-decoration: none;
}

.footnote-link .material-icons {
  font-size: 1.5rem;
}

.footnote-anchor .bi-x-diamond-fill {
  height: 1.5rem;
  width: 1.5rem;
}

.footnote-text {
  padding: 0.5rem;
}

.footnote-text > * {
  margin-top: 0;
}

del {
  background-color: var(--color-pink-100);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  vertical-align: bottom;

  .material-icons {
    font-size: 1rem;
    // color: var(--color-neutral-400);
    color: var(--color-pink-500);
  }

  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &::before {
    content: " [deletion start] ";
  }

  &::after {
    content: " [deletion end] ";
  }
}

ins[data-function="replace"] {
  text-decoration: none;
}

ins[data-function="add"] {
  text-decoration: none;
}

ins[data-function="add"] {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 0.875rem;
  gap: 0.125rem;
  // vertical-align: top;
  // margin-top: -0.5rem;
  // line-height: 1;
  vertical-align: super;
  line-height: 0.5;
  background: var(--color-green-100);

  .material-icons {
    font-size: 1rem;
    // color: var(--color-neutral-400);
    color: #008230; // imagine --color-green-600
  }

  &::before {
    content: " [addition start] ";
  }

  &::after {
    content: " [addition end] ";
  }

  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }  
}

ins[data-function="replace"] {
  background-color: var(--color-green-100);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  vertical-align: bottom;

  .material-icons {
    font-size: 1rem;
    // color: var(--color-neutral-400);
    color: #008230; // imagine --color-green-600
  }

  &::before {
    content: " [addition start] ";
  }

  &::after {
    content: " [addition end] ";
  }

  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.edit-wrap {
  display: inline-flex;
  flex-direction: column-reverse;
  vertical-align: top;
  font-size: 0.875rem;
  margin-top: -0.25rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  line-height: 0;
}

// del::before,
// del::after,
// ins::before,
// ins::after {
//   clip-path: inset(100%);
//   clip: rect(1px, 1px, 1px, 1px);
//   height: 1px;
//   overflow: hidden;
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
// }

// del::before {
//   content: " [deletion start] ";
// }

// del::after {
//   content: " [deletion end] ";
// }

// ins::before {
//   content: " [addition start] ";
// }

// ins::after {
//   content: " [addition end] ";
// }


.unclear::after {
  content: ' [unclear] ';
  /* color: #5e6f7d; */
  /* color: var(--color-neutral-400); */
}

.fullview-main .name {
  padding: 0 0.25rem;
  .name--reg {
    &::before {
      content: '[';
      font-weight: bold;
      font-size: 1.1rem;
    }
    &::after {
      content: ']'; 
      font-weight: bold;
      font-size: 1.1rem;
    }
    display: inline-block;
    background: var(--color-green-100);

  }
}

.fullview-main figure {
  border: 1px solid var(--color-neutral-100);
  padding: 1rem;
  // padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.fullview-main figure img {
  width: auto;
  max-width: 100%;
  border: 1px solid var(--color-neutral-400);
  padding: 0.5rem;
}

.fullview-main a:not(.button):hover img, 
.fullview-main a:not(.button):hover span {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--color-neutral-400); 
}

.fullview-main figure figcaption {
  font-size: 0.875rem;
  // padding: 0.5rem;

  p {
    margin: 0;

    & + p {
      margin-top: 1em;
    }
  }
}

.lg {
  margin-left: 1rem;
}

.lg + .lg {
  margin-top: 1rem;
}

.line {
  // display: block;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  width: 100%;

  &:has(.edit-wrap) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  

  &:hover {
    background: var(--color-indigo-100);
  }
  
  .line--number {
    font-family: monospace;
    font-size: 0.75rem;
    color: var(--color-blue-300);
  }
}

.line--indent1, .indentlevel1 {
  margin-left: 1em;
}

.line--indent2 {
  margin-left: 2em;
}

.q1 {
  /* margin-left: 5%;
  margin-right: 15%;
  padding-top: 1em;
  margin-bottom: 1rem; */
  margin-left: 1rem;
  padding: 1rem;
  border-left: 0.5rem solid var(--color-teal-100);
}

.q1--block {
  padding-top: 0;
}

.salute svg line {
  stroke:rgb(0, 0, 0); 
  stroke-width: 2;
}

.foreign {
  font-style: italic;
}

.rend-i, .rend-italic {
  font-style: italic;
}

.rend-underline {
  // text-decoration: dotted underline;
  background-image: linear-gradient(120deg, #1F1C2C,#928DAB 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.rend-superscript {
  font-size: 75%;
  vertical-align: top;
}

.rend-superscriptunderline {
  font-size: 75%;
  vertical-align: top;
  text-decoration: dotted underline;
}

.gap {
  white-space: pre-line;
  font-family: monospace;
  // color: var(--color-orange-500);
  color: #c64b0e;
  margin: 0 0.125rem;

  .gap--reason {
    font-family: var(--font-base-family);
    background: var(--color-maize-100);
    &::before {
      content: ' [';
      // color: var(--color-maize-500);
      font-weight: bold;
    }
    &::after {
      content: ']';
      // color: var(--color-maize-500);
      font-weight: bold;
    }
  }
}

.opener {
  padding: 1rem;
  border-left: 0.5rem solid var(--color-teal-100);
  margin: 1rem 0;
}

.closer {
  padding: 1rem;
  border-left: 0.5rem solid var(--color-teal-100);
  margin: 1rem 0;
}

.sp {
  margin-bottom: 1rem;
}

.stage {
  margin-bottom: 1rem;
  /* font-style: italic; */
}

.stage--align-c {
  text-align: center;
}

.stage--align-r {
  text-align: right;
}

.speaker {
  font-size: 1.125em;
  font-weight: bold;
}

// hr {
//   border: none;
//   border-top: 3px double var(--color-teal-100);
// }

.notenumber {
  font-weight: bold;
  display: inline-block;
  padding: 0 0.25rem 0 0.5rem;
}

.note {
  padding: 0.25rem;
  background: var(--color-maize-100);
  border: 1px solid var(--color-maize-500);
  display: inline-block;

  .note--number {
    font-weight: bold;
    padding: 0.25rem;
    background: var(--color-maize-100);
    // display: inline-block;
    // border: 1px solid var(--color-maize-500);
  }

  .note--content {
    margin-left: 0.25rem;
    background: var(--color-maize-100);
    color: var(--color-neutral-400);
    // display: inline-block;
  }
}

.inline-note {
  background: var(--color-maize-100);
  display: block;
  &.inline {
    display: inline-block;
  }
}

.div-heading {
  display: flex;
  padding: 0.25rem; 
  padding-left: 0; 
  font-weight: bold; 
  background: var(--color-blue-100);
  border-top: 1px solid var(--color-teal-500); 
  border-bottom: 2px solid var(--color-teal-500);
}

.display-inline {
  display: inline-block;
}

.inline-note-edge {
  font-weight: bold;
  font-size: 125%;
}

// annotations
html[data-annotations-state="off"] {
  .annotated {
    display: none !important;
  }
}

html[data-annotations-state="on"] {
  .corr, .sic--expanded {
    background-color: var(--color-green-100);
  }

  .sic {
    /* color: var(--color-neutral-400); */
    background-color: var(--color-neutral-100);

    // &::before {
    //   content: '[ ';
    // }

    // &::after {
    //   content: ' ]';
    // }
  }

  .abbr--expanded {
    color: var(--color-neutral-300);
  }

  // .orig {
  //   background-color: var(--color-pink-100);
  // }
}

// highlights

html[data-highlight-state="off"] .hilite1 {
  background-color: transparent;
}

html {
  scroll-padding-top: 2rem;
}

@media screen and (max-width: 600px) {
  .fullview-main {
    flex-direction: column;
  }

  .fullview-blank {
    display: none;
  }
}

.bs-caret {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-up-fill' viewBox='0 0 16 16'%3E%3Cpath d='m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z'/%3E%3C/svg%3E");
}

.milestone--paragraph-page {
  font-size: 0.875rem;
  color: var(--color-neutral-300);
}

.milestone--rule {
  padding: 1rem;
  margin: 1rem;
  text-align: center;

  span {
    font-size: 1.5rem;
    white-space: nowrap;
  }
}
