@use '../reset';
@use '../base';
@use '../dev';
@use '../utils';
@use '../layout';
@use '../buttons';
@use '../breadcrumb';
@use '../callout';
@use '../cards';
@use '../details';
@use '../footer';
@use '../forms';
@use '../headings';
@use '../pagination';
@use '../panels';
@use '../record';
@use '../reslist';
@use '../shoelace';
@use '../skip-link';
@use '../tables';
@use '../tocbot';
@use '../typography';
@use '../advanced_search';
@use '../tabs';
@use '../range';
@use '../inline-viewer';


// text specific
@use 'advanced_search--text';
@use 'home';
@use 'pageviewer';
@use 'reslist--text';
@use 'text';
@use 'hilite';


iframe[name="bookbag-sink"] {
  width: 100%;
  height: 10vh;
  margin: 1rem;
  display: none;
}

iframe[name="download-sink"] {
  width: 100%;
  height: 10vh;
  margin: 1rem;
  display: none;
}

.loader {
  position: relative;
  display: block;
  height: 8rem;
  width: 8rem;
  transition: all .3s;
  transition-timing-function: ease-in;
  // animation: spinHourglas 1000ms infinite;
  animation: spinHourglas 1750ms infinite;
}
.loader::after{
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: 0 0;
  // border-width: 0.585em;
  border-width: 2em;
  border-color: #9b9b9b transparent;
  border-radius: 50%;
  border-style: solid;
}
@keyframes spinHourglas {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(.55,.055,.675,.19);
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }
  100% {
    transform: rotate(360deg);
  }
}