/*
 * Custom Properties
 *
 */

:root {
  --base-text-color: var(--color-neutral-400);
  --light-text-color: var(--color-neutral-300);
  --viewport-margin: var(--space-medium);
  --text-xx-small: 0.875rem;
  --material: "Material Icons";
}

body[data-class="text"] {
  --record-width: 75ch;
}

@media (min-width: 720px) {
  :root {
    --viewport-margin: var(--space-xx-large);
  }
}

/*
 * Resets
 *
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html[data-initialized="false"] {
  /* opacity: 0; */
}

html[data-initialized="true"] {
  opacity: 1 !important;
  transition: 0.25s opacity;
}

/*
 * Globals 
 *
 */

body {
  margin: 0;
  color: var(--base-text-color);
  font-size: var(--text-base-size);
  font-family: var(--font-base-family);
  line-height: var(--line-height-default);
  accent-color: var(--color-teal-400);
}

ol,
ul,
ul.list-unstyled {
  list-style: none;
  padding: 0;
}

ul:not([class]) ul:not([class]) {
  margin-left: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/* fight me */
ul ul {
  margin-left: 1rem;
}


ul.list-bulleted {
  list-style: initial;
  padding: revert;
}

ol.list-numbered, text-block ol:not([class]) {
  list-style: decimal;
  padding: revert;
}

/* TREE */
.list-tree{
  --spacing : 1.5rem;
  --radius  : 12px;
}

.list-tree li{
  display      : block;
  position     : relative;
  padding: 1rem 0;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
  margin-top: -4px;
}

.xxlist-tree li:last-child {
  margin-top: -4px; /* magic! */
}

.list-tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.list-tree ul li{
  border-left : 2px solid #ddd;
}

.list-tree ul li:last-child{
  border-color : transparent;
}

.list-tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2 + 1rem);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.list-tree summary{
  display : block;
  cursor  : pointer;
}

.list-tree summary::marker,
.list-tree summary::-webkit-details-marker{
  display : none;
}

.list-tree summary:focus{
  outline : none;
}

.list-tree summary:focus-visible{
  outline : 1px dotted #000;
}

.list-tree li::after,
.list-tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius) + 1rem);
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.list-tree summary::before{
  z-index    : 1;
  /* background : #696 url('expand-collapse.svg') 0 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Material Icons";
  font-size: 24px;
  content: "\e5ce";
  content: "\e409";
  content: "\e145";
  background: var(--color-teal-300);
  color: white;
}

.list-tree details[open] > summary::before{
  background-position : calc(-2 * var(--radius)) 0;
  content: "\e5cf";
  content: "\e15b";
}

.list-tree a, .list-tree details {
  margin-left: 1rem;
}

.list-tree a {
  display: block;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: var(--color-teal-400);
  text-decoration: underline;
}

a[data-current="true"] {
  color: var(--color-neutral-600);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration-thickness: 2px; /** TODO: HOVE **/
}

a.group {
  display: inner-flex;
  align-items: center;
}

:not([disabled]):not(#maincontent):not(#chat):not(summary):focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important;
}

address {
  font-style: normal;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/** Details **/

details.panel > summary {
  list-style: none;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

/* is this CUBE? */
details.panel > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid transparent;
  padding-left: 0;
}

details.panel[open] {
  padding: 0.25em 0.5em;
  padding-left: 0;
}

details.panel[open] > summary:first-of-type {
  font-weight: var(--semibold);
  color: var(--color-teal-400);
  border-left: 2px solid var(--color-teal-400);
  padding: 0.25em 0.5em;
}

details.panel > summary::after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "\e5cf";
  color: var(--color-teal-400);
}

details.panel[open] > summary::after {
  font-family: "Material Icons";
  content: "\e5ce";
  color: var(--color-teal-400);
}
/* Removes the default arrow on Chrome */
details.panel > summary::-webkit-details-marker {
  display: none;
}

details.list-group > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-left: 2px solid transparent;
  padding-left: 0; */
}

details.list-group[open] {
  /* padding: 0.25em 0.5em;
  padding-left: 0; */
}

details.list-group[open] > summary:first-of-type {
  font-weight: var(--semibold);
  color: var(--color-teal-400);
  /* border-left: 2px solid var(--color-teal-400); */
  /* padding: 0.25em 0.5em; */
}

details.list-group > summary::after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "\e5cf";
  color: var(--color-teal-400);
}

details.list-group[open] > summary::after {
  font-family: "Material Icons";
  content: "\e5ce";
  color: var(--color-teal-400);
}
/* Removes the default arrow on Chrome */
details.list-group > summary::-webkit-details-marker {
  display: none;
}

/* should a checkbox ever shrink? no. */
input[type="checkbox"] {
  flex-shrink: 0;
}

/* Forms, Selects & Inputs */

.select-group {
  padding: 0 1.5em 0;
  color: var(--light-text-color);
}

.select,
select {
  min-width: 15ch;
  padding: 0 1em;
  height: 40px;
  font-size: 1rem;
  font-family: var(--font-base-family);
  color: #262626;
  line-height: 1.5;
  box-shadow: none;
  cursor: pointer;
  max-width: 100%;
  background-color: #fff;
  border: solid 1px var(--color-neutral-200);
  text-overflow: ellipsis;
  /*-webkit-appearance: unset; */
}

.select:focus,
select:focus {
  box-shadow: 0 0 0 2px var(--color-indigo-400);
}

.dropdown--neutral {
  background-color: var(--color-neutral-100);
  font-weight: var(--bold);
  border: 0;
}

.summary--neutral {
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.input-group {
  /* padding: 0 0.5em 0 0; */
  padding: 0;
  min-width: 60%;
}

.input-group button {
  border-radius: 0 2px 2px 0;
}

.input-group.right input {
  border-radius: 4px 0 0 4px;
}

input[type="search"], input[type="text"] {
  font-size: 1rem;
  font-family: var(--font-base-family);
  margin: 0;
  border: solid 1px var(--color-neutral-200);
  box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  box-sizing: border-box;
  height: 40px;
  width: 60%;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
}

.radio-buttons {
  padding: 0 0.5em;
}

label {
  padding-right: 0.5em;
}

label.control-checkbox {
  display: inline-flex;
  align-items: center;
}

/*
* Blocks
*
*/

.hero {
  margin: 1em 0 2em;
}

.hero__image {
  max-width: 100%;
}

/* Text Block/ prose */

.text-block {
  /* width: max(75%); */
  max-width: 75ch; /* Set line length for readability */
}

.text-block img {
  width: auto;
  max-width: 100%;
}

.text-block ul[not(@class)] {
  list-style: initial;
  padding: revert;
}

.text--small {
  font-size: 0.875rem !important;
}

.text--bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

/* Skip link */

.skip-links {
  background: var(--color-blue-400);
  padding: var(--space-small);
}

.skip-links ul li {
  margin: var(--space-medium) 0;
  text-align: center;
}

.skip-links a {
  color: #fff;
  padding: var(--space-x-small);
}

.skip-links:not(:focus-within) {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/** Breadcrumb **/

.breadcrumb {
  display: flex;
  justify-content: space-between;
}

/* .breadcrumb a {
  text-transform: capitalize;
} */

.contact-icon {
  color: var(--color-teal-400);
}

@media screen and (max-width: 600px) {
  .breadcrumb {
    flex-flow: column;
  }

  .breadcrumb p.pagination {
    margin-left: -3px;
    margin-top: -0.5rem;
  }

}

.breadcrumb li {
  display: inline;
  padding: var(--space-xx-small);
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.breadcrumb li:not(:last-child):after {
  font-family: var(--material);
  content: "\e315";
  vertical-align: bottom;
  padding-left: 0.25em;
  color: var(--color-teal-500);
}

.breadcrumb a[aria-current="page"] {
  text-decoration: none;
  color: var(--base-text-color);
}

/** Message Callout **/

.message-callout {
  border: solid 1px var(--color-neutral-100);
  border-left: solid var(--space-xx-small) var(--color-orange-400);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.75rem;
  /* padding: var(--space-small);
  padding-right: var(--space-x-large); */
  padding: var(--space-xx-small) var(--space-large);
  border-radius: var(--radius-default);
  position: relative;
  margin-bottom: 1.5rem;
}

.message-callout.info {
  border-left-color: var(--color-teal-500);
}

/** Advanced Search **/

.advanced-link {
  white-space: nowrap;
}

.advanced-search--form {
  border: solid 1px var(--color-neutral-100);
  padding: 2rem 5.5vw;
}

.advanced-search--containers {
  margin: 0.5rem 0 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: solid 1px var(--color-neutral-100);

  container-type: inline-size;
  container-name: field-groups;
}

@container field-groups ( max-width: 720px ) {
  .field-groups {
    padding: 2rem 0;
  }
}

@container field-groups ( max-width: 625px ) {
  fieldset.fieldset--grid {
    grid-template-columns: 1fr 6rem;
    grid-template-areas:
      "rgn ."
      "select ."
      "q clear";
  }
}

.advanced-grid--columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 2rem;
}

.field-groups {
  display: grid;
  grid-template-columns: minmax(380px, 1fr);
  gap: 1rem;
  justify-content: center;
  padding: 2rem 4.5vw;
}

.fieldset--clause--select label[data-active="false"] {
  display: none;
}

.fieldset--clause--select select[data-active="false"] {
  display: none;
}

fieldset.fieldset--grid--v1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(20%, auto)) 40% 40px;
  grid-column-gap: 0.5rem;
}

fieldset.fieldset--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 6rem;
  grid-template-areas: "rgn select ." "q q clear";
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 0.5rem 1rem;
}

fieldset.fieldset--grid .fieldset--clause--region {
  grid-area: rgn;
}
fieldset.fieldset--grid .fieldset--clause--region select {
  width: 100%;
}
fieldset.fieldset--grid .fieldset--clause--select {
  grid-area: select;
}
fieldset.fieldset--grid .fieldset--clause--select select {
  width: 100%;
}
fieldset.fieldset--grid .fieldset--clause--query {
  grid-area: q;
}
fieldset.fieldset--grid button[data-action="reset-clause"] {
  grid-area: clear;
}

.fieldset--clause--query [data-slot="query"] {
  width: 100%;
}

.fieldset--clause--query [data-active="false"] {
  display: none;
}

.fieldset--clause--operator label {
  text-transform: uppercase;
}

fieldset {
  padding: 0.5rem 1rem;
}

fieldset legend {
  font-weight: bold;
  margin-bottom: 1rem;
}

/** Lists **/

.list__links ul li {
  margin-top: 0.5em;
}

.py-1 {
  display: flex;
  gap: 0.25rem;
}

/** Results **/

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--text-xx-small) 0;
  padding-top: 0;
  gap: var(--text-xx-small);
}

.search-container {
  width: 80%;
}

.search-summary {
  flex-basis: 50%;
}

.search-results__edit {
  background-color: var(--color-blue-100);
  padding: var(--text-small);
  border-radius: var(--radius-default);
}

.search-results__tools {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {
  .search {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
  }

  .search-container .flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .search-container select {
    width: 100%;
  }

  .search-container input[type="search"] {
    width: 100%;
  }

  .search-results__tools {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    display: block;
  }

  #action-results-sort {
    width: 100%;
  }

  #action-results-sort .sl-button--ghost {
    width: 100%;
  }

  sl-button::part(label) {
    width: 100%;
  }

  .sl-dropdown-label {
    width: 100%;
  }

  .search-results__tools::before, .search-results__tools::after {
    position: absolute;
    top: 0;
    width: 75%;
    height: 1px;
    background: var(--color-neutral-100);
    display: block;
    content: "";
    transform: translateX(-50%);
    left: 50%;
  }

  .search-results__tools::after {
    top: auto;
    bottom: 0;
  }

  /* .search-results__tools {
    justify-content: flex-end;
  }

  .search-summary {
    flex-basis: 100%;
  } */
}

.results-list--small {
  border-bottom: 1px solid var(--color-neutral-100);
  color: var(--color-neutral-400);
  text-decoration: none;
  margin-bottom: 0.5em;
  display: flex;
  gap: 0.5rem;
}

.results-list--small:last-of-type {
  border-bottom: none;
}

.results-list--small a[data-behavior] {
  text-decoration: none;
  color: var(--color-neutral-400);
  margin-bottom: 0.5rem;
}

@media (max-width: 700px) {
  .results-list--small a {
    flex-direction: column;
  }
}

.results-list--small:last-child {
  border-bottom: 0;
}

.results-list--small .portfolio-selection {
  order: -1;
  flex-shrink: 0;
  z-index: 1;
}

.results-list--small:has(:not(.results--list__image)) .results-list__blank {
  /* do not show ever */
  display: none !important;
}

.results-list--grid {
  border-bottom: 1px solid var(--color-neutral-100);
  padding-bottom: 1rem;
  color: var(--color-neutral-400);

  display: grid;
  position: relative;
  grid-template-areas:
    "checkbox thumbnail title"
    ". thumbnail metadata";
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content 1fr;
  margin: 1rem 0;
}

.results-list--grid .results-card {
  position: static;
  grid-area: title;
}

.results-list--grid .results-list__image,
.results-list--grid .results-list__blank {
  grid-area: thumbnail;
}

.results-list__blank {
  display: none !important;
}

.main-panel:has(.results-list__image) .results-list__blank {
  display: flex !important;
}

.xxresults-list--grid:has(:not(.results--list__image)) .results-list__blank {
  /* do not show ever */
  display: none !important;
}

.results-list--grid:has(:not(.results--list__image)) .results-card h3 {
  margin-top: 0;
}

.results-list--grid .portfolio-selection {
  grid-area: checkbox;
  position: relative;
  z-index: 1;
}

.results-details {
  grid-area: metadata;
}

.results-details a {
  z-index: 1;
  position: relative;
}

.results-card .results-link {
  text-decoration: none;
  color: black;
  position: static;
}

.results-card .results-link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 500px) {
  .results-list--grid {
    grid-template-areas:
      "checkbox title"
      ". thumbnail"
      ". metadata";
    grid-template-columns: min-content 1fr;
    gap: 0.5rem;
  }

  .results-list--grid h3 {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  .results-list--grid .results-card {
    margin-bottom: 0;
  }
  
  .results-list--grid .results > div {
    grid-template-columns: 1fr;
  }
}

.results {
  margin-top: 0.25em;
}


.results > div {
  display: grid;
  grid-template-columns: 9rem 1fr;
  column-gap: 0;
  max-width: 50vw;
  /* border-bottom: 1px solid var(--color-neutral-100); */
}

.results--jump-toolbar {
  margin: 1rem;
  padding: 1rem;
  background: var(--color-neutral-100);
  justify-content: center;
  position:absolute!important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px,1px,1px,1px)
}

.results--jump-toolbar:focus-within {
  position: static !important;
  height: auto;
  width: auto;
  overflow: auto;
  clip: unset;
}

.results--jump-toolbar a.button {
  flex-grow: 0.25;
}

@media (max-width: 700px) {
  .results > div {
    grid-template-columns: 1fr;
    max-width: none;
  }
}

.results dt {
  font-weight: var(--bold);
}

.results dt,
.results dd {
  padding: var(--space-xxx-small) 0;
  margin-left: 0;
}

.results dd {
  padding-left: var(--space-small);
}

.results dd + dd {
  grid-column: 2/3;
}

@media (max-width: 700px) {
  .results dt,
  .results dd {
    grid-column-start: 1;
  }

  .results dd + dd {
    grid-column-start: 1;
  }
}

.results-list__content > dt {
  text-decoration: none;
}

.results-list__content h3 {
  display: inline;
  font-size: var(--text-small);
  font-weight: var(--semibold);
  color: var(--base-text-color);
  box-shadow: inset 0 -1px #1d7491;
  margin-top: 0.5em;
  text-transform: none;
  letter-spacing: initial;
  padding-top: 0;
}

.results-list__content h3:hover {
  box-shadow: inset 0 -2px #1d7491;
  background: var(--color-maize-300);
  transition: background 0.5s;
}

.results-list--grid .results-list__content h3 {
  box-shadow: none;
}

.results-list--grid .results-list__content h3:hover {
  box-shadow: none;
  background: transparent;
}

.results-list--grid .results-list__content h3 a {
  box-shadow: inset 0 -1px #1d7491;
}

.results-list--grid .results-list__content h3 a:hover {
  background: var(--color-maize-300);
  box-shadow: inset 0 -2px #1d7491;
  transition: background 0.5s;
}

.results-list__image {
  width: 140px;
  height: auto;
  align-self: flex-start;
  /* padding: 0 var(--space-medium);
  padding-left: 0; */
  padding: 0;
  margin-right: 1rem;
  flex-shrink: 0;
}

.results-list__empty {
  width: 140px;
  padding: 0;
  margin-right: 1rem;
}

.results-list__blank {
  width: 140px;
  height: 120px;
  /* padding: 0 var(--space-medium);
  padding-left: 0; */
  padding: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  /* opacity: 0.75; */
  opacity: 0.25;
}

.results-list__blank::after {
  font-family: var(--material);
  font-size: var(--text-xxx-large);
  content: "\e871";
  /* content: "\e0ee"; */
  content: attr(data-type);
  color: inherit;
  vertical-align: middle;
  line-height: 1;
}

.results-list__blank[data-type="blank"]::after {
  opacity: 0.4;
  content: "\e0ee";
}

.filters {
  padding-top: var(--space-xxxx-large);
  padding-right: 2em;
}

.filter-item--list a {
  word-break: break-word;
}

.button.filter__button {
  flex-direction: column;
  width: 100%;
}

/* 
*CARD 
* A card can have an image, a heading, and a description. The entire card is a link.
*/

.gallery-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    padding: 0 5em;
  }
}

.card {
  width: calc(25% - 16px);
  margin: 0 0.5em;
}

@media (min-width: 950px) and (max-width: 1100px) {
  .card {
    width: calc(33% - 16px);
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .card {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.card__image {
  padding: 0;
}

.card__heading {
  font-size: var(--text-small);
  font-weight: var(--semibold);
  color: var(--base-text-color);
  margin-top: 0;
  width: max(25ch);
}

/** SIDE PANEL BOX **/

.side-panel__box {
  display: flex;
  flex-flow: column wrap;
  max-width: 80%;
}

@media screen and (max-width: 751px) {
  .side-panel__box {
    max-width: none;
  }
}

.side-panel__box--wrapper {
  padding: 1em;
}

.side-panel__box > details:not(:last-child) {
  border-bottom: solid 1px var(--color-neutral-100);
}

.side-panel__box > *:not(:last-child) {
  border-bottom: solid 1px var(--color-neutral-100);
}

.side-panel__box > details {
  padding: 0.5em 0;
}

details > div {
  padding: 0.25em;
}

.filters__count {
  color: var(--color-neutral-300);
}

.filters__selected > * + * {
  padding: var(--space-small) 0;
}

/** Pagination **/

@media screen and (max-width: 600px) {
  .pagination__row {
    flex-flow: column;
  }
}

.pagination li {
  display: inline-block;
  margin: 0.5em 0;
}

.pagination__item a {
  border: solid 1px var(--color-teal-400);
  border-radius: 4px;
  color: var(--color-teal-400);
  padding: 0.5em 1em;
  margin: 0.25em;
  text-decoration: none;
}

.pagination__item a:hover {
  background: var(--color-teal-500);
  color: white;
}

.pagination__item a[disabled] {
  opacity: 0.75;
  pointer-events: none;
}

.pagination__item a[disabled]:hover {
}

a[class*="previous"]::before {
  font-family: var(--material);
  content: "\e408";
  color: inherit;
  vertical-align: middle;
}

a[class*="next"]::after {
  font-family: var(--material);
  content: "\e409";
  color: inherit;
  vertical-align: middle;
}

#results-pagination {
  width: 8ch;
}

.sticky-bottom {
  position: sticky;
  padding-bottom: 1rem;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px -0.5rem 0.5rem -0.5rem rgba(0,0,0,0.1);
  z-index: 5;
}

/*
 * Shoelace customizations
 */
sl-button {
  border-radius: var(--radius-default);
}

sl-button::part(base) {
  outline: none;
  height: auto;
  min-height: 2.5rem;
  margin: 0; /** must remove margin for Safari */
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  border: 2px outset var(--color-neutral-500);
  background: white;
  color: var(--color-neutral-500);
  border-radius: var(--radius-default);
  padding: var(--space-x-small); /* var(--space-xxx-large); */
  color: #fff;
}

sl-button.sl-button--primary::part(base) {
  background: var(--color-teal-400);
  border: solid 1px var(--color-teal-400);
}

sl-button.sl-button--secondary::part(base) {
  background: var(--color-neutral-100);
  border: solid 1px var(--color-neutral-100);
  color: var(--color-neutral-400); 
}

sl-button.sl-button--ghost::part(base) {
  border: solid 1px var(--color-neutral-500);
  color: var(--color-neutral-500);
  background: white;
  text-decoration: none;
}

/* :not(.button--disabled) */
sl-button::part(base):focus, sl-button::part(base):hover {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--color-neutral-400);
}

sl-button::part(label) {
  padding: 0 0.25rem;
}

sl-button::part(caret) {
  margin-top: 4px;
}

sl-menu-item[disabled]::part(base) {
  color: var(--color-neutral-300);
}

sl-menu-item:not([disabled])::part(base):hover {
  background: var(--color-teal-500);
  color: white;
}

sl-menu-item::part(label) {
  font-family: var(--font-base-family);
  color: var(--base-text-color);
  font-size: var(--text-base-size);
}

sl-menu-item:hover::part(label) {
  color: white;
}

sl-dropdown::part(panel) {
  max-height: 50vh;
}

.sl-dropdown-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: normal;
}

/*
 * Utilities
 *
 * 
 */

.border {
  border: solid 2px var(--color-neutral-100);
}

.no-border {
  border: 0;
}

.border-bottom {
  border-bottom: solid 1px var(--color-neutral-100);
}

.border-rounded {
  border-radius: 0.5rem;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.light-text-color {
  color: var(--light-text-color);
}

.base-text-color {
  color: var(--base-text-color);
}

.bold {
  font-weight: var(--bold);
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.flex-center {
  align-items: center;
}

.justify-end {
  justify-content: end;
}

.flex-flow-rw {
  flex-flow: row wrap;
}

.flex-flow-row {
  flex-flow: row nowrap;
}

.flex-flow-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-gap-0_25 {
  gap: 0.25rem;
}

.flex-gap-0_5 {
  gap: 0.5rem;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.center-grid {
  justify-self: center;
  align-self: center;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-0_5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mt-0 {
  margin-top: 0;
}

.mt-0_5 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-half {
  padding: 0.5em;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.gap-0_25 {
  gap: 0.25em;
}

.gap-0_5 {
  gap: 0.5em;
}

.gap-0_75 {
  gap: 0.75rem;
}

.gap-1 {
  gap: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.text-align-center {
  text-align: center;
}

.text-xxx-small {
  font-size: var(--text-xxx-small) !important;
}

.text-xx-small {
  font-size: var(--text-xx-small) !important;
}

.text-x-small {
  font-size: var(--text-x-small) !important;
}

.text-x-large {
  font-size: var(--text-x-large) !important;
}

.text-large {
  font-size: var(--text-large) !important;
}

.text-medium {
  font-size: var(--text-medium) !important;
}

.text-muted {
  color: var(--color-neutral-400);
}

.flex--wide {
  flex-basis: 100%;
  flex-shrink: 0;
}

/*
 * Anchors/Links
 *
 */

.active-link {
  text-decoration: none;
  color: var(--color-neutral-400);
}

.link-box {
  margin: 0 0 0.5em 0;
  padding: 0.5em 0;
  display: inline-flex;
  color: var(--base-text-color);
}

.link-box a {
  border-left: 2px solid transparent;
}

.link-box a:hover {
  border-left: 2px solid var(--color-teal-400);
}

.link-box > * {
  margin: 0.25em;
}

.website-sub-header {
  width: 100%;
  background: var(--color-blue-500);
  color: white;
  font-weight: 600; /* semibold */
  font-size: var(--text-small);
  padding: 0.5rem 0;
}

.website-sub-header a {
  color: white;
  text-decoration: none;
}

.website-sub-header a:hover span:not(.material-icons),
.website-sub-header a:focus span:not(.material-icons) {
  text-decoration: underline;
}

.website-sub-header .material-icons {
  font-size: 1.5rem;
}

/*
 * Headings
 *
 * The most used headings I imagine
 * are a page title (h1) and section
 * headings (h2) plus the subtle heading
 * that that typography is in the
 * universal header. 
 *
 */

h1,
.page-heading {
  font-size: var(--text-xx-large);
  font-family: var(--font-second-family);
  line-height: var(--line-height-page-heading);
  padding-top: 0;
  margin-top: 0;
}

h2,
.section-heading {
  font-size: var(--text-large);
  font-weight: var(--bold);
  padding-top: 0;
  margin-top: 0;
}

h3,
.subtle-heading {
  color: var(--color-neutral-300);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  padding-top: var(--space-medium);
  margin-top: 0;
}

.collection-heading {
  color: var(--color-neutral-400);
  line-height: 1.1;
  font-weight: var(--bold);
  font-size: 24px;
  font-family: var(--font-base-family);
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.collection-heading .material-icons {
  font-size: 24px;
  line-height: 1.1;
}

html[data-view="index"] .collection-heading {
  font-size: 32px;
}

html[data-view="index"] .collection-heading .material-icons {
  font-size: 32px;
}

.collection-heading[data-status]::after,
.collection-heading[data-status]::before {
  font-family: var(--material);
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 1.5rem;
  /* vertical-align: top; */
}

.collection-heading[data-status="private"]::after {
  content: "\e897";
}

.collection-heading[data-status="group"]::before {
  /* topic */
  content: "\f1c8";
}

.collection-heading[data-status="multiple"]::before {
  /* lens blur */
  content: "\f029";
}

.collection-heading--small {
  font-size: 20px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  color: var(--color-neutral-400);
  line-height: 1.1;
}

.collection-heading--subheading {
  font-size: 18px;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  color: var(--color-neutral-300);
  line-height: 1.1;
  margin-top: 0;
}

.results-heading {
  font-size: 16px;
  font-weight: normal;
  font-family: var(--font-base-family);
  color: var(--color-neutral-400);
}

/*
 * Viewport Margins
 *
 * Handles the need for page content to be centered
 * in the visible view port window and manage the
 * amount of margin between the site and the edge
 * of the screen's viewport.
 */

.viewport-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--viewport-margin);
  padding-right: var(--viewport-margin);
}

/*
 * Buttons
 */

.button,
button {
  outline: none;
  /* display: inline-block; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 0.75rem;
  padding: var(--space-x-small) var(--space-small);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: var(--bold);
  font-family: var(--font-base-family);
  border-radius: var(--radius-default);
  align-items: center;
  min-height: 2.5rem;
  margin: 0; /** must remove margin for Safari */
  text-decoration: none;
}

.button--small {
  padding: var(--space-x-small) var(--space-small);
}

.button--large {
  padding: var(--space-small) var(--space-xxx-large);
}

.button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-indigo-400);
}

.button:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--color-neutral-400);
}

.button--primary {
  background: var(--color-teal-400);
  border: solid 1px var(--color-teal-400);
  color: #fff;
}

.button--secondary {
  background: var(--color-neutral-100);
  border: solid 1px var(--color-neutral-100);
  color: var(--color-neutral-400);
}

.button--cta {
  background: var(--color-maize-400);
  border: solid 1px var(--color-maize-400);
  color: var(--color-neutral-400);
}

.button-icon {
  bottom: 0.25em;
  position: relative;
}

.button--ghost {
  border: solid 1px var(--color-neutral-500);
  border-radius: 4px;
  color: var(--color-neutral-500);
  background: white;
  padding: 0.5em 1em;
  margin: 0.25em;
  text-decoration: none;
}

.button--ghost.button--small {
  padding: var(--space-x-small) var(--space-small);
  font-size: 0.875rem;
}

.button + .button, .button + sl-button, sl-button + .button {
  margin-left: 0.5em;
}

button[disabled] {
  opacity: 0.25;
}

/*
 * Record Container
 *
 */

/* section.records {
  container-type: inline-size;
  container-name: section--records-wrap;
}

@container section--records-wrap ( max-width: 600px ) {
  dl.record {
    max-width: none;
    width: 100%;
  }
} */

dl.record {
  /* max-width: 65vw; */
  max-width: var(--record-width, 65ch);
  display: block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .record {
    max-width: 90vw;
  }
}

.record > div {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 0;
  border-bottom: 1px solid var(--color-neutral-100);
}

.record dd > *:first-child {
  margin-top: 0;
}

.record dd > *:last-child {
  margin-bottom: 0;
}

.record dt {
  font-weight: var(--bold);
}

.record > div[data-key="relevance"], .results > div[data-key="relevance"] {
  display: none;
}

dl.record dt,
dl.record dd {
  padding: var(--space-small) 0;
  margin-left: 0;
  border-bottom: none;
}

dl.record dd {
  /* for longer/wrapping dt */
  padding-left: var(--space-small);
}

dl.record dd + dd {
  grid-column: 2/3;
  border-top: 1px solid var(--color-indigo-100);
}

dl.record .text--copyable {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  word-break: break-word;
}

dl.record .text--copyable.copied::after {
  content: "Copied to clipboard";
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.25rem;
  font-size: 0.875rem;
  padding: 0.5rem;
  display: block;
  background: var(--color-green-100);
  color: black;
  white-space: nowrap;

  animation: fade-out 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
  }
}

.record .text--copyable > span {
  flex-grow: 1;
  font-family: monospace;
  font-size: 0.875rem;
}

span.url {
  word-break: break-all;
}

.record .text--copyable button[data-action] {
  flex-grow: 0;
  align-self: flex-start;
  width: auto;
}

/*
* Actions
*
*/

.actions {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--color-neutral-100);
}

/*
 * Layouts 
 *
 */

main {
  /* avoid squishing main with the footer */
  min-height: 65vh;
}

.side-panel {
  width: 25%;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .flex.flex-gap-1 {
    gap: 0.5;
  }

  .side-panel {
    /* width: 15%; */
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 751px) {
  .side-panel {
    width: 100%;
  }
}

.main-panel {
  width: 70%;
  /* min-height: 60vh; */
}

.main-panel.full {
  width: 100%;
}

p img {
  width: initial;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .main-panel {
    /* width: 80%; */
  }
}

@media screen and (max-width: 751px) {
  .main-panel {
    width: 100%;
  }
}

/*
* Media
*
*/

/* This is the most extreme application so we many want to adjust it */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/*
 * Preview
 */
html[data-preview-links="true"] a:not([data-available="true"]) {
  opacity: 0.25;
}

html[data-preview-links="true"] a.toc-link {
  opacity: 1;
}

/*
 * Jitter
 */

/* m-universal-header:not(.hydrated) {
  display: block;
  height: 3.59rem;
}

m-website-header:not(.hydrated) {
  height: 4.125rem;
  display: block;
}

m-website-header:not(.hydrated) nav {
  display: none;
} */

m-website-header nav a {
  text-decoration: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 800;
  /* color: #637381; */
  color: var(--color-neutral-300);
  letter-spacing: 1.25px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

m-website-header nav a:hover span:not(.material-icons), 
m-website-header nav a:focus span:not(.material-icons) {
  text-decoration: underline;
}

m-website-header nav a .material-icons {
  font-size: 1.5em;
}

/* this sould be nice, alas */
.website-header__inner-container {
  row-gap: 0.5rem;
}

@media screen and (max-width: 500px) {
  m-website-header nav {
    margin-top: 1rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 52rem) {
  .website-header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 52rem) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 52rem) {
  m-website-header nav.primary-nav {
    display: none;
  }
}

.mobile-nav .submenu-container {
  border-top: 1px solid var(--color-neutral-100);
  margin-top: 20px;
  position: absolute;
  right: -1rem;
  width: 50vw;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
  z-index: 101;
}

.mobile-nav .primary-container ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.mobile-nav .primary-container ul li {
  border-bottom: 1px solid rgb(229, 233, 237);
  padding: 1rem;
}
.mobile-nav .primary-container ul a {
  text-decoration: none;
  color: var(--color-neutral-400);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}
.mobile-nav .primary-container ul a:hover {
  text-decoration: underline;
}

.mobile-nav .utility-container ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: var(--color-blue-100);
}
.mobile-nav .utility-container ul li {
  padding: 1rem;
}
.mobile-nav .utility-container ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-neutral-400);
}

[hidden] {
  display: none;
}

button.nav {
  background: #fff;
  border: none;
}

button[aria-expanded]::after {
  font-family: "Material Icons";
  font-size: 2.5rem;
  content: "\e5d2";
  color: var(--color-neutral-400);
}

button[aria-expanded=true]::after {
  font-family: "Material Icons";
  font-size: 2.5rem;
  content: "\e5cd";
  color: var(--color-neutral-400);
}

@media (max-width: 64rem) {
  .utility-nav {
    margin-top: 1rem;
  }
}
@media (max-width: 52rem) {
  .utility-nav {
    display: none;
  }
}

.utility-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
}
.utility-nav ul li {
  display: inline;
}
.utility-nav ul li:not(:last-child) {
  margin-right: 1rem;
}
.utility-nav ul li a {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-neutral-300);
  text-transform: uppercase;
  font-weight: var(--bold);
  letter-spacing: 1.25px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.material-symbols-outlined {
  font-variation-settings: "wght" 300, "opsz" 20;
}

.material-symbols-outlined:hover {
  font-variation-settings: "wght" 500, "FILL" 1;
}

@media (max-width: 40rem) {
  .page-aside {
    display: none;
  }
}

/*
 * Feedback Callout
 */

.feedback-callout {
  background: var(--color-neutral-100);
}

/*
* Footer
*
*/

.footer {
  background: var(--color-blue-400);
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer ul a {
  display: inline-block;
  padding: var(--space-x-small) 0;
  text-decoration: none;
  text-decoration-thickness: 0px;
}

.footer ul a span:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.footer a {
  color: white;
}

.footer a > svg {
  margin-right: 0.5em;
}

.footer__content {
  color: var(--color-blue-100);
  padding: var(--space-xxx-large) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: var(--space-xx-large);
}

.footer__content h2 {
  color: var(--color-blue-200);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: var(--space-medium);
}
.footer__policies {
  border-left: solid 1px var(--color-blue-300);
  padding-left: 2em;
}

@media screen and (max-width: 1200px) {
  .footer__policies {
    border-left: none;
    padding-left: 0;
  }
}

.footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: var(--space-medium) 0;
}
.footer__disclaimer a {
  color: var(--color-blue-200);
}
.footer__disclaimer p {
  margin: 0;
}
@media screen and (min-width: 820px) {
  .footer__disclaimer p {
    display: inline-block;
  }
  .footer__disclaimer p + p {
    margin-left: var(--space-x-large);
  }
}

html[data-debugging-srm="true"] #srm-log {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50vw;
  min-height: 1rem;
  background: black;
  color: yellow;
  padding: 1;
  min-height: 1.5rem;
}

button[data-action="toggle-side-panel"] {
  display: none;
}

@media screen and (max-width: 751px) {

  button[data-action="toggle-side-panel"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  button[data-action="toggle-side-panel"]::after {
    font-family: "Material Icons";
    font-size: 24px;
    color: var(--color-teal-400);
  }

  button[data-action="toggle-side-panel"][aria-expanded="false"]::after {
    content: "\e5cf";
  }

  button[data-action="toggle-side-panel"][aria-expanded="true"]::after {
    content: "\e5ce";
  }

  button[data-action="toggle-side-panel"][aria-expanded="false"] ~ * {
    display: none;
  }

}

.hidden {
  display: none;
}

iframe[name="bookbag-sink"] {
  width: 100%;
  height: 10vh;
  margin: 1rem;
  display: none;
}

iframe[name="download-sink"] {
  width: 100%;
  height: 10vh;
  margin: 1rem;
  display: none;
}

#bookbag-overview .inner p:first-child {
  margin-top: 0;
}

#bookbag-overview .inner p:last-child {
  margin-bottom: 0;
}

a.bedazzled-link {
  text-decoration: none;
  display: inline-flex;
  gap: 0.25rem;
  align-items: flex-start;
}

a.bedazzled-link span:not(.material-icons) {
  text-decoration: underline;
}

a.bedazzled-link[data-selected="true"] .material-icons {
  color: var(--color-neutral-500);
}

a.bedazzled-link[data-selected="true"] span:not(.material-icons) {
  text-decoration: none;
  color: var(--color-neutral-500);
}

/*
 * TocBot
 *
 * 
 */
#action-page-index {
  display: none;;
}

nav.page-index {
  position: sticky;
  top: 1rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
  max-height: 90vh;
  overflow: auto;
}
  
.toc {
 overflow-y:auto
}
.toc>.toc-list {
 overflow:hidden;
 position:relative;
 padding-left: 1.5rem;
}
.toc>.toc-list li {
 list-style:none
}
.toc-list {
 margin:0;
 padding-left:10px
}
a.toc-link {
 color:currentColor;
 height:100%;
 text-decoration: none;
}
a.toc-link.is-active-link {
  text-decoration: underline;;
}
.is-collapsible {
 max-height:1000px;
 overflow:hidden;
 transition:all 300ms ease-in-out
}
.is-collapsed {
 max-height:0
}
.is-position-fixed {
 position:fixed !important;
 top:0
}
.is-active-link {
 font-weight:700
}
.toc-link::before {
 background-color:#EEE;
 content:' ';
 display:inline-block;
 height:inherit;
 left:0;
 margin-top:-1px;
 position:absolute;
 width:3px;
 height: 100%;
 display: block;
}
.is-active-link::before {
 background-color: var(--color-teal-400);
}

/* TOCBOT EXCEPTIONS */

.aside {
  margin: 1rem;
  order: 2;
  flex-shrink: 0;
  /* width: 13rem; */
  width: 25%;
}

.aside--wrap {
  container-type: inline-size;
  container-name: aside--wrap;
}

@container aside--wrap ( max-width: 920px ) {

  .aside {
    order: 0;
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0rem;
    z-index: 1; /* 1000? */
    filter: drop-shadow(10px 10px 4px #ddd);
    margin: 0 auto;
  }

  .main-panel {
    width: 100%;
  }

  .main-panel h2, .main-panel h3 {
    scroll-margin-top: 4rem;
  }

  nav.page-index {
    position: static;
    display: flex;
    gap: 0.5rem;
    width: 80%;
    align-items: center;
    margin: 0.5rem auto;
  }

  nav.page-index h2 {
    padding: 0;
  }

  nav.page-index .toc {
    display: none;
  }

  nav.page-index .highlight-tools,
  nav.page-index #search-highlight-label {
    display: none;
  }

  nav.page-index #action-page-index {
    display: block;
    flex-grow: 1;
  }

  .page-navigation {
    display: none;
  }
}

table{
    border-collapse:collapse;
    border-spacing:0
}

.responsive-table table{
    width:100%
}
.responsive-table table *{
    text-align:left
}
.responsive-table table caption .caption-flex{
    justify-content:space-between
}
.responsive-table table caption .caption-flex,.responsive-table table caption .caption-flex form,.responsive-table table caption .caption-flex form>label{
    align-items:center;
    display:flex
}
.responsive-table table caption .caption-flex,.responsive-table table caption .caption-flex form{
    gap:1rem;
    flex-wrap:wrap
}
.responsive-table table caption .caption-flex form,.responsive-table table caption .caption-flex form>label{
    justify-content:flex-start
}
.responsive-table table caption .caption-flex form>label{
    gap:.5rem
}
.responsive-table table thead{
    border-bottom:solid 2px var(--color-maize-400)
}
@media(max-width: 1000px){
    .responsive-table table thead{
        border:none;
        clip:rect(0 0 0 0);
        height:1px;
        margin:-1px;
        overflow:hidden;
        padding:0;
        position:absolute;
        width:1px
    }
}
.responsive-table table th,.responsive-table table td{
    vertical-align:top
}
@media(min-width: 1001px){
    .responsive-table table th,.responsive-table table td{
        padding:1rem 0
    }
    .responsive-table table th:not(:last-of-type),.responsive-table table td:not(:last-of-type){
        padding-right:2rem
    }
}
.responsive-table table th{
    font-size:.875rem;
    font-weight:800;
    letter-spacing:1.25px;
    text-transform:uppercase
}
@media(min-width: 1280px){
    .responsive-table table th{
        white-space:nowrap
    }
}
.responsive-table table th[scope=row]{
    line-height:2
}
@media(max-width: 1000px){
    .responsive-table table th[scope=row]{
        border:none;
        clip:rect(0 0 0 0);
        height:1px;
        margin:-1px;
        overflow:hidden;
        padding:0;
        position:absolute;
        width:1px
    }
}
.responsive-table table tbody tr{
    border-bottom:solid 1px var(--color-neutral-100)
}
@media(max-width: 1000px){
    .responsive-table table tbody tr{
        display:grid;
        grid-template-columns:1fr auto;
        padding:1rem 0
    }
    .responsive-table table tbody tr td{
        display:block;
        grid-column:1/2
    }
    .responsive-table table tbody tr td:first-of-type:not(:only-of-type){
        padding-bottom:.75rem
    }
    .responsive-table table tbody tr td.table-cell-action{
        grid-column:2/3;
        grid-row:1/-1;
        padding-left:1rem
    }
    .responsive-table table tbody tr td a:not(.button){
        display:block
    }
    .responsive-table table tbody tr td .bullet-point:first-of-type{
        display:none
    }
}
.responsive-table table tbody tr span[aria-hidden=true]{
    font-weight:600
}
@media(min-width: 1001px){
    .responsive-table table tbody tr span[aria-hidden=true]{
        display:none
    }
}

/* DEV */
.quod-link {
  /* color: darkorange; */
  /* font-size: 2.5rem; */
}

.quod-link img {

}

.quod-link .material-icons {
  /* font-size: 1em; */
  color: darkorange;
}

sl-dialog::part(footer) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/*  */